<footer class="footer">
<!--  <a class="navbar-item" href="https://kodein.net" target="_blank">-->
<!--    <div style="padding: 0.5rem;opacity:0.8;">by</div>-->
<!--    <div style="font-weight: 700;">KODEIN</div>-->
<!--    <div style="font-weight: 300;opacity:0.8;">Koders</div>-->
<!--  </a>-->
</footer>
