<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        <div style="font-weight: bold;">KODEIN</div>
        <div>Framework</div>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://kodein.net" target="_blank">
            <div style="margin: 0.5rem;">by</div>
            <div style="font-weight: bold;">KODEIN</div>
            <div>Koders</div>
        </a>
      </div>
    </div>
  </nav>
</header>
