<header class="header">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
            <div class="navbar-brand-logo"></div>
            <div style="font-weight: 300;">Compose Ur Pres</div>
          </a>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://kodein.net" target="_blank">
              <div style="font-weight: 300;opacity:0.8;padding-right: 0.5rem">by</div>
              <div style="font-weight: 700;">KODEIN</div>
              <div style="font-weight: 300;opacity:0.8;">Koders</div>
            </a>
          </div>
        </div>
    </nav>
</header>
