@font-face {
  font-family: 'Picon';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-Regular.woff) format('woff'),
    url(../font/LCTPicon-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Picon';
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-Medium.woff) format('woff'),
    url(../font/LCTPicon-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Picon';
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-Semi-bold.woff) format('woff'),
    url(../font/LCTPicon-Semi-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Picon';
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-Bold.woff) format('woff'),
    url(../font/LCTPicon-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Picon-Condensed';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-CondensedRegular.woff) format('woff'),
    url(../font/LCTPicon-CondensedRegular.woff2) format('woff2');
}

@font-face {
  font-family: 'Picon-Condensed';
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-CondensedBold.woff) format('woff'),
    url(../font/LCTPicon-CondensedBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Picon-Condensed';
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  src:
    url(../font/LCTPicon-CondensedExtra-bold.woff) format('woff'),
    url(../font/LCTPicon-CondensedExtra-bold.woff2) format('woff2');
}
